.cart-widget {
    display: flex;
    align-items: center;
    color: white; /* Asegúrate de que el color combine con tu barra de navegación */
    cursor: pointer;
  }
  
  .cart-count {
    margin-left: 5px;
    background-color: red;
    color: white;
    border-radius: 50%; /* Hace que el fondo sea circular */
    padding: 2px 6px; /* Ajusta estos valores según el tamaño deseado */
    font-size: 0.8em; /* Ajusta el tamaño del texto según necesites */
  }
  